<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Desafio E-Commerce</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <header>
        <div class="d-flex flex-row align-items-center gap-5">
            <h1>Desafio E-Commerce</h1>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav gap-3">
                        <li class="nav-item">
                            <button type="button" class="btn btn-primary btn-lg nav-link" data-bs-toggle="modal"
                                data-bs-target="#modalComprador">Criar Comprador</button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-primary btn-lg nav-link" data-bs-toggle="modal"
                                data-bs-target="#modalVendedor">Criar Vendedor</button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-primary btn-lg nav-link" data-bs-toggle="modal"
                                data-bs-target="#modalItem">Criar Item</button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-primary btn-lg nav-link" data-bs-toggle="modal"
                                data-bs-target="#modalAddCarrinho">Adicionar ao Carrinho</button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-primary btn-lg nav-link" data-bs-toggle="modal"
                                data-bs-target="#modalRemCarrinho">Remover do Carrinho</button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-primary btn-lg nav-link" data-bs-toggle="modal"
                                data-bs-target="#modalVerCarrinho">Ver Carrinho</button>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="modal fade" id="modalComprador" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
            role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitleId">Criar Comprador</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form action="/criar_comprador" method="post" id="compradorForm">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="nome">Nome</label>
                                <input type="text" class="form-control" id="nome" name="nome" required>
                            </div>

                            <div class="form-group">
                                <label for="sobrenome">Sobrenome</label>
                                <input type="text" class="form-control" id="sobrenome" name="sobrenome" required>
                            </div>

                            <div class="form-group">
                                <label for="dinheiro">Dinheiro</label>
                                <input type="number" class="form-control" id="dinheiro" name="dinheiro" required>
                            </div>

                            <div class="form-group">
                                <label for="cpf">CPF</label>
                                <input type="text" class="form-control" id="cpf" name="cpf" required>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            <button type="submit" class="btn btn-primary">Criar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalVendedor" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
            role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitleId">Criar Vendedor</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form action="/criar_vendedor" method="post" id="vendedorForm">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="nome">Nome</label>
                                <input type="text" class="form-control" id="nome" name="nome" required>
                            </div>

                            <div class="form-group">
                                <label for="sobrenome">Sobrenome</label>
                                <input type="text" class="form-control" id="sobrenome" name="sobrenome" required>
                            </div>

                            <div class="form-group">
                                <label for="cnpj">CNPJ</label>
                                <input type="text" class="form-control" id="cnpj" name="cnpj" required>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            <button type="submit" class="btn btn-primary">Criar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalItem" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
            role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitleId">Criar Item</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form action="/criar_item" method="post" id="itemForm">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="nome">Nome</label>
                                <input type="text" class="form-control" id="nome" name="nome" required>
                            </div>

                            <div class="form-group">
                                <label for="preco">Preço</label>
                                <input type="text" class="form-control" id="preco" name="preco" required>
                            </div>

                            <div class="form-group">
                                <label for="vendedor">Vendedor</label>
                                <select class="form-select" id="vendedor" name="vendedor" required>
                                    <option value="">Selecione um vendedor...</option>
                                    {% for vendedor in vendedores %}
                                    <option value="{{ vendedor[1] }}">{{ vendedor[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalAddCarrinho" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
            role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitleId">Adicionar ao Carrinho</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form action="/adicionar_item" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="comprador">Comprador</label>
                                <select class="form-select" id="comprador" name="comprador" required>
                                    <option value="">Selecione um comprador...</option>
                                    {% for comprador in compradores %}
                                    <option value="{{ comprador[1] }}">{{ comprador[1] }}: R${{ comprador[3] }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="item">Item</label>
                                <select class="form-select" id="item" name="item" required>
                                    <option value="">Selecione um item...</option>
                                    {% for item in itens %}
                                    <option value="{{ item[1:] }}">{{ item[1] }}: R${{ item[2] }} [{{ item[3] }}]
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            <button type="submit" class="btn btn-primary">Adicionar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalRemCarrinho" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
            role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitleId">Remover do Carrinho</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="comprador">Comprador</label>
                            <select class="form-select" id="comprador" name="comprador" required>
                                <option value="">Selecione um comprador...</option>
                                {% for comprador in compradores %}
                                <option value="{{ comprador[1] }}">{{ comprador[1] }}: R${{ comprador[3] }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="item">Item</label>
                            <select class="form-select" id="item" name="item" required>
                                <option value="">Selecione um item...</option>
                            </select>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Remover</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalVerCarrinho" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
            role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitleId">Ver Carrinho</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form action="/ver_carrinho" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="comprador">Comprador</label>
                                <select class="form-select" id="comprador" name="comprador" required>
                                    <option value="">Selecione um comprador...</option>
                                    {% for comprador in compradores %}
                                    <option value="{{ comprador[1] }}">{{ comprador[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            <button type="submit" class="btn btn-primary">Ver</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div>
            <div>
                <h5>Carrinho</h5>
                <div class="carrinho">
                    {% if carrinho %}
                    <table>
                        <thead>
                            <td>Item</td>
                            <td>Valor</td>
                            <td>Vendedor</td>
                        </thead>
                        {% for i in carrinho %}
                        <tr>
                            <td>{{ i[0] }}</td>
                            <td>{{ i[1] }}</td>
                            <td>{{ i[2] }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% else %}
                    <p>Você não está vendo o carrinho de alguém.</p>
                    {% endif %}
                </div>
            </div>
            <div>
                <h5>Compradores</h5>

                <table class="table table-striped table-bordered">
                    <thead class="table-dark">
                        <td>Nome</td>
                        <td>Sobrenome</td>
                        <td>Dinheiro</td>
                        <td>CPF</td>
                    </thead>

                    {% for comprador in compradores %}
                    <tr>
                        {% for dado in comprador[1:-1] %}
                        <td>{{ dado }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div>
                <h5>Vendedores</h5>

                <table class="table table-striped table-bordered">
                    <thead class="table-dark">
                        <td>Nome</td>
                        <td>Sobrenome</td>
                        <td>CNPJ</td>
                    </thead>

                    {% for vendedor in vendedores %}
                    <tr>
                        {% for dado in vendedor[1:] %}
                        <td>{{ dado }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div>
                <h5>Itens</h5>

                <table class="table table-striped table-bordered">
                    <thead class="table-dark">
                        <td>Nome</td>
                        <td>Valor</td>
                        <td>Vendedor</td>
                    </thead>

                    {% for item in itens %}
                    <tr>
                        {% for dado in item[1:] %}
                        <td>{{ dado }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </main>

    <footer>
        <div class="container footer text-center">
            <p>Criado por <a href="github.com/Se7enzito">Bernardo de Castro</a></p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/main.css') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>

</html>